/*	Index Services header style	*/
.services-header{
	position: relative;
	background: linear-gradient(
		rgba(144, 198, 83, 0.5),
		rgba(144, 198, 83, 0.5)
		),
		url(../services_header.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 50%;
	padding-top: 64px;
	text-align: center
}

.services-header .row{
	width: 100%;
	margin: 0;
}

.services-header .panel{
	border: 0px;
}

.services-header .panel .panel-heading{
	text-transform: uppercase;
	background-color: #424242;
	color: #fff;
}

.services-header .panel .panel-body{
	background-color: #fff;
}


/*	Page content style	*/
.content{
	padding-top: 2%;
	min-height: 50%;
	padding-bottom: 2%;
	background-color: #eceff1;
	text-align: center;
}

.content .row{
	width: 100%;
	margin: 0;
}


/*	Thumbnails style	*/
.content .thumbnail{
	text-decoration: none;
	background-color: #424242;
	padding: 0;
	height: 300px;
	transition: 0.3s;
}

.content .thumbnail .caption{
	color: #fff;
}

.content .thumbnail:hover,
.content .thumbnail:active{
	filter: drop-shadow(5px 5px 10px black);
	border-color: #424242;
}

.content .thumbnail .thumbnail-image{
	max-height: 229px;
}




/*	Show Service page style	*/
.show-services-header{
	position: relative;
	background: linear-gradient(
		rgba(144, 198, 83, 0.5),
		rgba(144, 198, 83, 0.5)
		),
		url(../services_header.jpg);
	background-size: cover;
	background-position: top center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 25%;
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-show{
	padding-top: 2%;
	min-height: 75%;
	padding-bottom: 2%;
	background-color: #eceff1;
	/*text-align: center;*/
}

.content-show .show-service-top-buttons{
	text-align: center;
	margin-bottom: 2%;
}

.content-show .show-service-top-buttons .left-btn-service{
	margin-right: 10px;
}

.content-show .service-show-image{
	max-width: 100%;
}




/*	New Service Page style	*/
.new-service-header{
	position: relative;
	background: linear-gradient(
		rgba(144, 198, 83, 0.5),
		rgba(144, 198, 83, 0.5)
		),
		url(../services_header.jpg);
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 30%;
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.new-service-form-content{
	padding-top: 2%;
	min-height: 70%;
	padding-bottom: 2%;
	background-color: #eceff1;
}

.new-service-form-content .row{
	margin: 0;
}

.new-service-form-content .new-service-form-btns-col{
	text-align: center;
}

.new-service-form-content .new-service-form-btns-col .btn-save{
	margin-right: 10px;
}




/*	Edit Service Page style	*/
.edit-service-header{
	position: relative;
	background: linear-gradient(
		rgba(144, 198, 83, 0.5),
		rgba(144, 198, 83, 0.5)
		),
		url(../services_header.jpg);
	background-size: cover;
	background-position: bottom center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	transition: transform 0.5s, padding-right 0.5s ease;
	height: 30%;
	padding-top: 64px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.edit-service-form-content{
	padding-top: 2%;
	min-height: 70%;
	padding-bottom: 2%;
	background-color: #eceff1;
}

.edit-service-form-content .row{
	margin: 0;
}

.edit-service-form-content .edit-service-form-btns-col{
	text-align: center;
}

.edit-service-form-content .edit-service-form-btns-col .btn-save{
	margin-right: 10px;
}